body {
    margin: unset;
    font-family: 'Inter', sans-serif;
    overflow: auto;
    background-color: #f8f8f8;
}

h1 {
    margin-left: 30px;
    margin-top: 25px;
}

.top {
    width: 100%;
}

.header {
    display: flex;
    margin: 5px;
    #background-color: red;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: fit-content;
}

.header-left {
    display: flex;
    align-items: center;
}

/* .header-left p{
    font-size: 40px;
    font-family: sans-serif;
    padding: 0 0 0 25px;
} */

.header-right {
    display: flex;
}

.tab {
    max-width: 100%;
    max-height: max-content;
    display: flex;
    #background-color: red;
    #margin: 5px;
    padding: 20px;
    border-top: 2px solid red;
}

.button {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 25px;
    padding: 8px 8px 6px 6px;
    border-radius: 10px;
    transition: text-shadow 0.3s ease;
}

.button:hover {
    text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 5px rgba(0, 0, 0, 0.3);
}

.button:visited {
    color: unset;
}

.ad {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    border-radius: 10px;
}

.ad-left{
    background-image: linear-gradient(to right, #4eaaff, #ffffff);
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

.ad-left-text {
    padding: 15px;
}

.ad-right{
    background-color: rgb(255, 255, 255);
    padding: 15px 0 0 25px;
    border-radius: 0px 15px 15px 0px;
    display: block !important;
    flex: 1;
    box-sizing: border-box;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.rute {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    padding: 15px;
    border-radius: 15px 15px 15px 15px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    
}

.rute img{
    width: 20px;
    padding-right: 10px;
}

.rute a{
    color: #2b2b2b;
}

.info {
    width: 100%;
    height: fit-content;
    display: flex; /* hay que conseguir que al hacer la pagina mas o menos grande que los cuadros no se hagan mas pequeños, supongo que con block
    para que los cuadros tengan siempre el mismo tamaño si o si, para eso tendremos que crear un apartado de css que se adapte al mobil jugando 
    con la resolución */
    justify-content: space-between;
}

.course{
    max-width: 70%;
    height: fit-content;
    margin-left: 20px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
}

.subjects-section {

    width: 100%;

}

.subjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 15px 0px 15px;
}

.subject-card {
    width: 340px;
    height: 175px;
    background-color: #f6f6f6;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    margin: 15px;
    overflow: hidden;
}

.subjects a{
    text-decoration: none;
}

.subject-card-img {
    display: flex;
    max-width: 100%;
    max-height: 65%;
}

.subject-card-img img {
    overflow: hidden;
}

.subject-card-txt {
    margin: 10px 15px 5px 15px;
}

.subject-card-txt p {
    margin: unset;
    color: #161616;
    text-decoration: none;
}

#fecha{
    color: #2b2b2b;
    font-size: 13px;
}

.unit{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 15px 0px 15px;
    border: 1px #e0e0e0;
    border-radius: 10px;
}

.work{
    display: flex;
}

.work img{
    width: 23px;
    padding: 0 8px 8px 0;
}

.upcoming-events-section {
    max-width: 30%;
    height: fit-content;
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
}

.upcoming-events {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 20px 15px;
}

.event {
    width: 375px;
    height: 100px;
    background-color: #f6f6f6;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    margin: 15px;
}

.footer {
    display: flex;
    border-top: 2px solid red;
    width: 100%;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.footer-div {
    height: fit-content;
    margin: 20px 0px 20px 0px;
}

/* Que miras? esto es muy sospechoso por tu parte
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣤⣤⣤⣤⣤⣤⣤⣤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⡿⠛⠉⠙⠛⠛⠛⠛⠻⢿⣿⣷⣤⡀⠀⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⠋⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⠈⢻⣿⣿⡄⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣸⣿⡏⠀⠀⠀⣠⣶⣾⣿⣿⣿⠿⠿⠿⢿⣿⣿⣿⣄⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠁⠀⠀⢰⣿⣿⣯⠁⠀⠀⠀⠀⠀⠀⠀⠈⠙⢿⣷⡄⠀ 
⠀⠀⣀⣤⣴⣶⣶⣿⡟⠀⠀⠀⢸⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣷⠀ 
⠀⢰⣿⡟⠋⠉⣹⣿⡇⠀⠀⠀⠘⣿⣿⣿⣿⣷⣦⣤⣤⣤⣶⣶⣶⣶⣿⣿⣿⠀ 
⠀⢸⣿⡇⠀⠀⣿⣿⡇⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠃⠀ 
⠀⣸⣿⡇⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠉⠻⠿⣿⣿⣿⣿⡿⠿⠿⢻⣿⡇⠀⠀ 
⠀⣿⣿⠁⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣧⠀⠀ 
⠀⣿⣿⠀⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠀⠀ 
⠀⣿⣿⠀⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠀⠀ 
⠀⢿⣿⡆⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⡇⠀⠀ 
⠀⠸⣿⣧⡀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠃⠀⠀ 
⠀⠀⠛⢿⣿⣿⣿⣿⣇⠀⠀⠀⠀⠀⣰⣿⣿⣷⣶⣶  ⠀ ⣿⣿⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⣿⣿⡇⠀⣽⣿⡏ ⠀⠀⢸⣿⡇⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⣿⣿⡇⠀⢹⣿⡆⠀⠀⠀⣸⣿⠇⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⢿⣿⣦⣄⣀⣠⣴⣿⣿⠁⠀⠈⠻⣿⣿⣿⣿⡿⠏⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⠈⠛⠻⠿⠿⠿⠿⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ */