body {
    margin: unset;
    font-family: 'Inter', sans-serif;
    overflow: auto;
    background-color: #f8f8f8;
}

::selection {
    background-color: #4eaaff;
    color: #020202;
}

h1 {
    margin-left: 30px;
    margin-top: 25px;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: #0f8bff;
}

.top {
    width: 100%;
}

.header {
    display: flex;
    margin: 5px;
    #background-color: red;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: fit-content;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left p{
    font-size: 40px;
    font-family: sans-serif;
    padding: 0 0 0 25px;
}

.header-right {
    display: flex;
    padding: 0 8px 0 0;
}

.tab {
    max-width: 100%;
    max-height: max-content;
    display: flex;
    #background-color: red;
    #margin: 5px;
    padding: 20px;
    border-top: 2px solid #64b0f3;
}

.button {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 25px;
    padding: 10px 10px 8px 8px;
    border-radius: 10px;
    transition: 500ms cubic-bezier(0,.5,.5,1);
}

.button:hover {
    scale: 105%;
    background-color: rgba(100, 201, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(100, 185, 255, 0.5);
}

.button:hover .button-span {
    color: #000a13;
}

.button:visited {
    color: unset;
}

.ad {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    border-radius: 10px;
}

.ad-left{
    background-image: linear-gradient(to right, #4eaaff, #ffffff);
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

.ad-left-text {
    padding: 15px;
    font-weight: 600;
    color: #001b3f;
    text-shadow: 0 0 15px #b5d7ff;
}

.ad-right{
    background-color: rgb(255, 255, 255);
    padding: 15px 0 0 25px;
    border-radius: 0px 15px 15px 0px;
    display: block !important;
    flex: 1;
    box-sizing: border-box;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.rute {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    padding: 15px 15px 15px 25px;
    border-radius: 9999px;
    background-color: #ececec;
    border: 1px solid lightgrey;
    align-items: center;
}

.rute img{
    width: 20px;
    padding-right: 10px;
}

.rute a{
    color: #2b2b2b;
}

.info {
    width: 100%;
    height: fit-content;
    display: flex; /* hay que conseguir que al hacer la pagina mas o menos grande que los cuadros no se hagan mas pequeños, supongo que con block
    para que los cuadros tengan siempre el mismo tamaño si o si, para eso tendremos que crear un apartado de css que se adapte al mobil jugando
    con la resolución */
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.subjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 15px 0px 15px;
}

.course{
    width: 70%;
    height: fit-content;
    margin-left: 20px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
}

.subjects-section {

    width: 100%;

}

.subject-card {
    width: 340px;
    height: 175px;
    background-color: #f6f6f6;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    margin: 15px;
    overflow: hidden;
}

.subjects a{
    text-decoration: none;
}

.subject-card-img {
    display: flex;
    max-width: 100%;
    max-height: 65%;
}

.subject-card-img img {
    overflow: hidden;
}

.subject-card-txt {
    display: flex;
    flex-direction: column;
    height: 35%;
    text-align: left;
    justify-content: center;
    margin-left: 15px;
}

.subject-card-txt p {
    margin: unset;
    color: #161616;
    text-decoration: none;
}

#fecha{
    color: #2b2b2b;
    font-size: 13px;
}

.unit{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px 15px 0px 30px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: 10px 15px;
}

.unit h2{
    padding: 0 0 0 15px;
    margin: 10px 15px 10px 0;
}

.work{
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    padding: 10px;
}

.work img{
    width: 25px;
    padding: 0 8px 0 0;
}

.todo{
    display: block;
    color: #9e4f16;
    margin: 0 0 0 40px;
}

.todo p{
    display: inline-block;
    padding: 10px 10px;
    font-size: 12px;
    background-color: #ffb47e;
    border: 1px solid #df8443;
    border-radius: 12px;
    margin: 2 0 10px 0;
}

.finished{
    display: block;
    color: #0b3a06;
    margin: 0 0 0 40px;
}

.finished p{
    display: inline-block;
    padding: 10px 10px;
    font-size: 12px;
    background-color: #a2ff9a;
    border: 1px solid #84e481;
    border-radius: 12px;
    margin: 2 0 10px 0;
}

.upcoming-events-section {
    width: 25%;
    height: fit-content;
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
}

.upcoming-events {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 20px 15px;
    overflow: hidden;
    align-items: center;
}

.event {
    width: 85%;
    height: fit-content;
    background-color: #f6f6f6;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    margin: 15px;
}

.event p{
    padding: 0 10px;
}

.footer {
    display: flex;
    border-top: 2px solid #64b0f3;
    width: 100%;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.footer-div {
    height: fit-content;
    margin: 20px 0px 20px 0px;
}

/* para hacerlo responsive*/
@media (max-width: 995px) {

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .course {
        margin-bottom: 10px;
    }

}

/* Que miras? esto es muy sospechoso por tu parte
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣤⣤⣤⣤⣤⣤⣤⣤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⡿⠛⠉⠙⠛⠛⠛⠛⠻⢿⣿⣷⣤⡀⠀⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⠋⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⠈⢻⣿⣿⡄⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣸⣿⡏⠀⠀⠀⣠⣶⣾⣿⣿⣿⠿⠿⠿⢿⣿⣿⣿⣄⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠁⠀⠀⢰⣿⣿⣯⠁⠀⠀⠀⠀⠀⠀⠀⠈⠙⢿⣷⡄⠀ 
⠀⠀⣀⣤⣴⣶⣶⣿⡟⠀⠀⠀⢸⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣷⠀ 
⠀⢰⣿⡟⠋⠉⣹⣿⡇⠀⠀⠀⠘⣿⣿⣿⣿⣷⣦⣤⣤⣤⣶⣶⣶⣶⣿⣿⣿⠀ 
⠀⢸⣿⡇⠀⠀⣿⣿⡇⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠃⠀ 
⠀⣸⣿⡇⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠉⠻⠿⣿⣿⣿⣿⡿⠿⠿⢻⣿⡇⠀⠀ 
⠀⣿⣿⠁⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣧⠀⠀ 
⠀⣿⣿⠀⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠀⠀ 
⠀⣿⣿⠀⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠀⠀ 
⠀⢿⣿⡆⠀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⡇⠀⠀ 
⠀⠸⣿⣧⡀⠀⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠃⠀⠀ 
⠀⠀⠛⢿⣿⣿⣿⣿⣇⠀⠀⠀⠀⠀⣰⣿⣿⣷⣶⣶  ⠀ ⣿⣿⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⣿⣿⡇⠀⣽⣿⡏ ⠀⠀⢸⣿⡇⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⣿⣿⡇⠀⢹⣿⡆⠀⠀⠀⣸⣿⠇⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⢿⣿⣦⣄⣀⣠⣴⣿⣿⠁⠀⠈⠻⣿⣿⣿⣿⡿⠏⠀⠀⠀⠀ 
⠀⠀⠀⠀⠀⠀⠀⠈⠛⠻⠿⠿⠿⠿⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ */