* {
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #c0c0c0;
    color: #040404;
    text-align: center;
}

body{
    background-color: #040404;
    color: white;
}

.contenedores{
    background-color: #040404;
    margin-bottom: 10px;
    display: block;
}

.seccion1{
    float: left;
    width: 20%;
    display: block;
}

.seccion1 a{
    display: block;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration-line: none;
}

.seccion1 a:hover{
    color: black;
    background-color: #f32323;
}

.seccion1 a:visited{
    color: rgb(255, 255, 255);
}

.actual{
    background-color: #f32323;
}

.seccion2{
    float: left;
    width: 52%;
    display: block;
    padding: 10px;
}

.seccion3{
    float: left;
    width: 25%;
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

footer{
    background-color: #c0c0c0;
    color: black;
    clear: both;
    padding: 10px;
}
